/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/Futura/FuturaDemiC.woff") format("woff"), url("../fonts/Futura/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/Futura/FuturaBookC.woff") format("woff"), url("../fonts/Futura/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

main {
  width: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 5.8rem; }

.container {
  width: 100%;
  max-width: 1276px; }

.button {
  width: 100%;
  height: 100%;
  max-width: 14.786rem;
  max-height: 3.643rem;
  padding: 1.357rem 1.857rem;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Futura Demi', sans-serif;
  font-weight: 500;
  font-size: 0.9em; }
  .button:hover {
    cursor: pointer; }
  .button--primary {
    background-color: #e3b873;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    transition: box-shadow .3s; }
    .button--primary:hover {
      box-shadow: none; }
  .button--outline {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; }
  .button--contacts {
    max-width: 11.5rem;
    max-height: 2.643rem;
    padding: 0.8rem 1.429rem;
    vertical-align: center; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 1rem;
  margin: 0; }

img {
  max-width: 100%; }

.section {
  padding: 60px 0; }
  .section-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    font-weight: normal; }
    .section-title__image {
      display: flex;
      align-items: center;
      justify-content: center; }
      .section-title__image::before, .section-title__image::after {
        content: '';
        width: 32px;
        height: 2px;
        border-radius: 30px;
        background-color: #e3b873; }
      .section-title__image img {
        margin-left: 10px;
        margin-right: 10px; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #131313;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  .header__container {
    display: flex;
    justify-content: flex-start; }

.menu {
  width: 100%;
  max-width: 1256px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.571rem 0; }
  .menu__logo {
    margin: 0; }
  .menu__nav {
    margin-left: 0rem; }
  .menu__contacts {
    display: flex;
    align-items: center; }

.logo {
  font-family: 'Futura Demi', cursive;
  color: #e3b873;
  text-transform: uppercase;
  font-size: 1rem; }

.nav {
  padding-left: 1.2rem; }
  .nav__item {
    font-family: 'Futura Book', cursive;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-right: 2.65rem;
    transition: color .2s; }
    .nav__item:hover {
      color: #e3b873; }

.phone {
  color: #e3b873; }

.contacts__phone {
  min-width: 9rem;
  margin-right: 3.214rem; }

.contacts__button {
  margin-right: 0; }

.hero {
  width: 100%;
  background: #131313;
  height: calc(100vh - 5.8rem);
  max-height: 707px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .hero__container {
    width: 100%;
    max-width: 1358px;
    padding-top: 1rem;
    background-origin: content-box;
    background: #131313 url("../img/hero-bg.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; }
    .hero__container::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(19, 19, 19, 0.7); }
  .hero__content {
    padding-bottom: 1.1rem;
    position: relative;
    max-width: 47.587rem;
    margin-left: 4.286rem; }
  .hero__text {
    font-family: 'Futura Book', serif;
    font-size: 1.571rem;
    max-width: 35.714rem;
    line-height: 140%;
    margin: 0;
    margin-bottom: 3.1rem; }
  .hero__button {
    margin-right: 1.2rem; }
  .hero__instagram {
    max-width: 5.714rem;
    height: 100%; }
  .hero__scroll-down {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    min-width: 17.643rem;
    min-height: 6.929rem;
    margin-bottom: -3.48rem;
    margin-left: -5.714rem;
    background-color: #131313;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    .hero__scroll-down::after {
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #e3b873;
      background: url("../img/ico/arrow-down.svg") no-repeat center;
      background-color: transparent;
      margin-left: 12px; }

.instagram {
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center; }
  .instagram__link {
    display: flex;
    align-items: center;
    padding-right: 7rem;
    transform: rotate(90deg);
    text-transform: uppercase;
    color: #e3b873;
    text-decoration: none;
    line-height: 0.8; }
    .instagram__link::after {
      content: '';
      width: 51px;
      height: 1px;
      background-color: #e3b873;
      margin-left: 8px; }

.title {
  margin-top: 0;
  margin-bottom: 1.15rem;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 2.857rem;
  line-height: 131%; }
  .title--primary {
    color: #e3b873; }

.types {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .types__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .types__section-title {
    margin-bottom: 2.214rem; }

.section-title__heading {
  font-size: 1.429rem;
  line-height: 1.786rem; }

.section-title__text {
  font-family: 'Futura Book', sans-serif;
  font-size: 1.429rem;
  font-weight: normal;
  line-height: 1.95rem;
  text-transform: none;
  max-width: 52.929rem;
  margin: 0 auto;
  margin-top: 1.25rem;
  margin-bottom: 1.2rem; }

.section-title__image {
  margin-bottom: 0; }

.row {
  width: 100%;
  max-width: 1236px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.col {
  flex-basis: 31%; }

.card__image {
  max-width: 392px;
  max-height: 421px; }
  .card__image--mobile {
    display: none; }

.card__text {
  position: relative;
  margin: 0 auto;
  margin-top: -34%;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  max-width: 23.571rem;
  padding: 1.786rem 2.071rem 3.5rem 2.429rem; }

.card__title {
  font-family: 'Yeseva One', sans-serif;
  font-size: 1.286rem;
  font-weight: normal;
  color: #363636;
  margin-bottom: 0.5rem; }

.card__list {
  padding-left: 1.2rem; }

.card__item {
  font-family: 'Futura Book', sans-serif;
  font-size: 1.071rem;
  font-weight: normal;
  color: #959595;
  margin-bottom: 0.6rem; }

.card__pricetag {
  display: inline-block;
  padding: 1rem 0 1rem 2.357rem;
  text-align: left;
  position: absolute;
  left: 0.15rem;
  bottom: -1.7rem;
  width: 16.286rem;
  height: 3.857rem;
  background-color: #e3b873;
  color: #fff;
  font-family: 'Yeseva One', sans-serif;
  font-size: 1.286rem;
  text-transform: uppercase;
  font-weight: normal; }

@media screen and (max-width: 1280px) {
  html {
    font-size: 12px; }
  .nav__item {
    margin-right: 1rem; }
  .card__image {
    width: 100%;
    height: 100%; } }

@media screen and (max-width: 992px) {
  .header__container {
    padding: 0 1.5rem;
    width: 100%; }
  .nav {
    display: none; }
  .hero__instagram {
    display: none; }
  .hero__content {
    margin-left: 0; }
  .hero__scroll-down {
    display: none; }
  .hero__container {
    padding: 0 1.5rem; }
  .row {
    flex-direction: column;
    align-items: center; }
  .types__card {
    margin-bottom: 4.29rem; }
  .card__text {
    margin-left: 0; }
  .card__pricetag {
    bottom: 0; } }

@media screen and (max-width: 760px) {
  .row {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 576px) {
  .header {
    position: static; }
    .header__container {
      padding: 1.9rem 1.5rem;
      width: 100%; }
    .header__menu {
      padding: 0; }
  main {
    margin-top: 0;
    padding-top: 0; }
  .contacts__phone {
    margin-right: 0;
    color: #fff;
    text-decoration: none; }
  .contacts__button {
    display: none; }
  .title {
    font-size: 1.917rem;
    font-weight: normal; }
  .hero {
    width: 100%;
    height: auto; }
    .hero__container {
      background: #131313 url("../img/hero-bg-mobile.jpg") no-repeat center/cover;
      background-position: top;
      width: 100%;
      padding: 0 1.5rem; }
    .hero__scroll-down {
      display: none; }
    .hero__content {
      width: 100%;
      padding-top: 7rem; }
    .hero__title {
      margin-bottom: 1rem;
      max-width: 23rem; }
    .hero__text {
      width: 100%;
      max-width: 26.75rem;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 2rem;
      margin-bottom: 2.8rem; }
    .hero__button {
      font-size: 1.083rem;
      font-weight: 500;
      display: block;
      width: 100%;
      margin-bottom: 2.2rem;
      max-width: 28.167rem;
      min-height: 4.25rem; }
  .section-title__heading {
    font-size: 1.833rem; }
    .section-title__heading--light {
      color: #fff;
      margin-bottom: 1.3rem; }
  .section-title__image {
    margin-bottom: 3.333rem; }
    .section-title__image--design {
      margin-bottom: 1.4rem; }
  .section-title__text {
    font-size: 1.25rem;
    padding: 0 1.7rem; }
    .section-title__text--light {
      color: #fff;
      line-height: 1.75rem;
      padding-top: 0.1rem;
      margin-bottom: 3rem; }
  .types {
    padding: 0 1.5rem; }
    .types__section-title {
      margin-bottom: 0; }
    .types--dark {
      background-color: #131313; }
  .card {
    width: 100%;
    margin-bottom: 6.55rem; }
    .card__text {
      margin-top: -11.9rem;
      max-width: 22.5rem;
      padding: 1.75rem 3.417rem 2.6rem 2.583rem; }
    .card__item {
      padding: 0;
      font-size: 1.08rem;
      line-height: 1.265rem;
      margin-left: -0.2rem; }
      .card__item--hidden {
        display: none; }
    .card__pricetag {
      max-width: 15.833rem;
      height: auto;
      padding: 0.95rem 0;
      font-size: 1.25rem;
      text-align: center;
      left: 0.1rem;
      bottom: -1.667rem; }
    .card__image--desktop {
      display: none; }
    .card__image--mobile {
      display: flex;
      overflow: hidden; } }

@media screen and (max-height: 544px) {
  .hero__scroll-down {
    display: none; } }
