@media screen and ( max-width: 1280px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .card
    &__image
      width: 100%
      height: 100%

@media screen and ( max-width: 992px)
  .header
    &__container
      padding: 0 1.5rem
      width: 100%
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__scroll-down
      display: none
    &__container
      padding: 0 1.5rem
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.29rem
  .card
    &__text
      margin-left: 0
    &__pricetag
      bottom: 0

@media screen and (max-width: 760px)
  .row
    flex-direction: column
    align-items: center

  

@media screen and ( max-width: 576px)

  .header
    position: static
    &__container
      padding: 1.9rem 1.5rem
      width: 100%
    &__menu
      padding: 0
  main
    margin-top: 0
    padding-top: 0
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.917rem
    font-weight: normal
  .hero
    width: 100%
    height: auto
    &__container
      background: $dark url('../img/hero-bg-mobile.jpg') no-repeat center / cover
      background-position: top
      width: 100%
      padding: 0 1.5rem
    &__scroll-down
      display: none
    &__content
      width: 100%
      padding-top: 7rem
    &__title
      margin-bottom: 1rem
      max-width: 23rem
    &__text
      width: 100%
      max-width: 26.75rem
      font-size: 1.5rem
      font-weight: normal
      line-height: 2rem
      margin-bottom: 2.8rem
    &__button
      font-size: 1.083rem
      font-weight: 500
      display: block
      width: 100%
      margin-bottom: 2.2rem
      min-width: 28.167rem
      min-height: 4.25rem
  
  .section-title
    &__heading
      font-size: 1.833rem
      line-height: 2.3rem
      &--light
        color: $light
    &__image
      margin-bottom: 3.333rem
      &--design
        margin-bottom: 1.4rem
    &__text
      font-size: 1.25rem
      padding: 0 1.7rem
      &--light
        color: $light
        line-height: 1.75rem
        margin-bottom: 3rem
  .types
    padding: 0 1.5rem
    &__section-title
      margin-bottom: 0
    &--dark
      background-color: $dark
  .card
    width: 100%
    margin-bottom: 6.583rem
    &__text
      margin-top: -42.5%
      max-width: 22.5rem
      padding-bottom: 2.4rem
    &__item
      font-size: 1.083rem
      line-height: 1.3rem
      &--hidden
        display: none
    &__pricetag
      height: auto
      padding: 0.8rem 0
      font-size: 1.25rem
      text-align: center
      left: 0rem
      bottom: -1.6rem
    



@media screen and (max-height: 544px)
  .hero
    &__scroll-down
      display: none
  